/* * {
  box-sizing: border-box;
} */

.controls-wrapper {
  max-width: 320px;
  width: 100%;
}

#root {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
}
